* {
    margin: 0;
    padding: 0;
}

.hide {
    opacity: 0;
}

body {
    background-color: rgb(196, 7, 136);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}   

.btn {
    padding: 10px 20px;
    font-size: 36px;
    border-radius: 10px;
    border: none;
}

.output {
    font-size: 24px;
    background-color: aqua;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn:hover {
    opacity: 0.8;
}